.book-list-card{
    position: relative;
    margin: auto;
    height: 60vh;
    width: 60%;
    border: 1px solid white;
    border-radius: 15px;
    margin-top: 30px;
}

.book-list{
    position: relative;
    overflow: auto;
    max-height: calc(60vh - 4rem) ;
}

.book-list table{
    text-align: left;
    position: relative;
    border-radius: 15px !important;
    overflow: hidden;
}

.book-list table th{
    position: sticky;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    top: 0;
}

.action-bar{
    /* border-top: 2px solid white; */
    border-radius: 15px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.action-col img{
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}

table tr {
    cursor: pointer;
}

.pagination{
    margin: 0px !important;
}
.page-item a{
    color: black !important;
    font-size: 1.2rem !important;
    font-weight: 600 !important;
    padding: .5rem 1.5rem;
}

.page-item :hover{
    background-color: var(--color-button) !important;
    border-color: var(--color-button);
    color: white !important;
}

.pagination>li:hover{
    cursor: pointer;
}

.pagination>li.active>a {
    background: var(--color-button);
    border-color: var(--color-button);
    color: white !important;
  }