.top-bar{
    text-align: left !important;
    padding-left: 20%;
}

.add-btn{
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--color-button);
    border-color: var(--color-button);
}

.add-btn:hover{
    background-color: var(--color-button-hover);
    border-color: var(--color-button-hover);
}

.add-btn img{
    height: 2rem;
    width: 2rem;

}